{
  "COFFEE_API_BASE_URL": "http://192.168.x.x/Coffee-Plus/public/api",
  "COFFEE_PUBLIC_ORIGIN": "http://192.168.x.x/Coffee-Plus/public",
  "COFFEE_STORAGE_ORIGIN": "http://192.168.x.x/Coffee-Plus/public",
  "COFFEE_REVERB_HOST": "192.168.x.x",
  "COFFEE_REVERB_PORT": 8080,
  "COFFEE_REVERB_APP_KEY": "local_dev_key",
  "COFFEE_REVERB_TLS": false,
  "COFFEE_REVERB_AUTH_ENDPOINT": "http://192.168.x.x/Coffee-Plus/public/broadcasting/auth"
}
